// ============================================================================
// Asides
// ============================================================================

%aside {
  font-size: modular-scale(0);
  line-height: 1.5;
  margin-top: 0.5em;
  width: column-span(2, 1, 8);

  h4 {
    font-size: modular-scale(1);
  }
}

.aside {
  @extend %aside;
  float: left;
  margin-left: -(grid-span(2, 1, 8));

  @include breakpoint($content-aside-inline) {
    background: $light-grey;
    border: 1px solid rgba($dark-grey, 0.2);
    box-shadow: rgba($black, 0.06) 0 0 10px;
    float: none;
    margin: 0 0 1.5em;
    padding: 1em;
    width: 100%;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.aside-left {
  @extend %aside;
  float: right;
  margin-right: -(grid-span(2, 1, 8));

  @include breakpoint($content-aside-inline) {
    background: $light-grey;
    border: 1px solid rgba($dark-grey, 0.2);
    box-shadow: rgba($black, 0.06) 0 0 10px;
    float: none;
    margin: 0 0 1.5em;
    padding: 1em;
    width: 100%;

    p:last-child {
      margin-bottom: 0;
    }
  }
}
