// ============================================================================
// Custom Underline
// ============================================================================

.custom-underline {
  a {
    // Underline via gradient background
    background-image: linear-gradient(to bottom, transparent 49%, $link-color 50%);
    background-position: 0 88%;
    background-repeat: repeat-x;
    background-size: 1px 1px;

    color: $link-color;

    // For non-retina screens in Safari, gradient background needs 2 pixels of height to show any underline
    @include breakpoint(max-resolution 1.49dppx, max-resolution 143dpi) {
      background-size: 1px 2px;
    }

    // Clear descendors from underline
    text-decoration: none;
    text-shadow: 2px 0 $custom-underline-background, 1px 0 $custom-underline-background, -1px 0 $custom-underline-background, -2px 0 $custom-underline-background;

    // Style selected links (or else text-shadow makes it look crazy ugly)
    // Pseudo selectors must go separately, or they break each other
    &,
    > * {
      &::selection {
        background-color: $link-color;
        color: $white;
        text-shadow: none;
      }
    }

    &:hover {
      background-image: linear-gradient(to bottom, transparent 50%, darken($link-color, 6%) 50%);
      color: darken($link-color, 20%);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  dt,
  strong,
  b {
    a {
      background-position: 0 89%;
      background-size: 1px 2px;
    }
  }
}

.custom-underline.work a {
  text-shadow: 2px 0 #fafafa, 1px 0 #fafafa, -1px 0 #fafafa, -2px 0 #fafafa;
}

.custom-underline.martial-arts a {
  background-image: linear-gradient(to bottom, transparent 49%, #be0202 50%);
  background-position: 0 88%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  text-shadow: 2px 0 #030303, 1px 0 #030303, -1px 0 #030303, -2px 0 #030303;

  @include breakpoint(max-resolution 1.49dppx, max-resolution 143dpi) {
    background-size: 1px 2px;
  }
}

.custom-underline.movie-lover a {
  background-image: linear-gradient(to bottom, transparent 49%, #e8c53d 50%);
  background-position: 0 88%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  text-shadow: 2px 0 #282828, 1px 0 #282828, -1px 0 #282828, -2px 0 #282828;

  @include breakpoint(max-resolution 1.49dppx, max-resolution 143dpi) {
    background-size: 1px 2px;
  }
}

.custom-underline.book-lover a {
  background-image: linear-gradient(to bottom, transparent 49%, #616161 50%);
  background-position: 0 88%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  text-shadow: 2px 0 #1c1c1c, 1px 0 #1c1c1c, -1px 0 #1c1c1c, -2px 0 #1c1c1c;

  @include breakpoint(max-resolution 1.49dppx, max-resolution 143dpi) {
    background-size: 1px 2px;
  }
}

.custom-underline.about a {
  text-shadow: 2px 0 #2a2c2d, 1px 0 #2a2c2d, -1px 0 #2a2c2d, -2px 0 #2a2c2d;
}

.custom-underline .aside-hint a {
  background-image: linear-gradient(to bottom, transparent 49%, $logo-color 50%);
  background-position: 0 88%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  color: $logo-color;

  &:hover {
    color: darken($logo-color, 20%);
  }
}
