// ============================================================================
// Downloads
// ============================================================================

.download {
  background: rgba($dark-grey, 0.1);
  border-radius: 3px;
  margin-bottom: $default-margin-bottom;
  padding: 15px 20px 0;

  a {
    border: 0;
    display: inline-block;
    line-height: 1.5em * 2;
    vertical-align: top;

    .icon-download {
      border: 0;
      color: rgba($white, 0.4);
      font-size: 1.5em * 2;
      margin-right: 15px;
      text-shadow: -1px -1px 0 rgba($black, 0.5);
    }
  }

  p {
    margin: 0;
  }
}

.custom-underline .download a {
  background: transparent;
  text-shadow: none;

  &:hover {
    background: transparent;
  }
}
