// ============================================================================
// Figures with images
// ============================================================================

figure.image-figure {
  clear: both;
  float: left;
  margin-bottom: $default-margin-bottom;

  figcaption {
    margin-top: 5px;
  }

  .figure-content {
    overflow: hidden;
    position: relative;
  }

  a {
    border: 0;
  }
}


// Figures full width
// ----------------------------------------------------------------------------
.image-figure-fullsize {
  @include grid-span(12, 1, 8);
  margin-left: -(grid-span(2, 1, 8));
  margin-right: 0;

  @include breakpoint($content-medium) {
    @include grid-span(8, 1, 8);
  }
}


// Figures left
// ----------------------------------------------------------------------------
.image-figure-left {
  @include grid-span(12, 1, 8);
  margin-left: -(grid-span(2, 1, 8));
  margin-right: 0;

  .figure-content {
    @include grid-span(10);

    @include breakpoint($content-medium) {
      @include grid-span(12);
    }
  }

  @include breakpoint($content-medium) {
    @include grid-span(8, 1, 8);
  }

  img {
    @include grid-span(12);
  }

  figcaption {
    @include grid-span(2, 11);
    text-align: left;

    @include breakpoint($content-medium) {
      @include grid-span(12);
      text-align: center;
    }
  }
}


// Figures right
// ----------------------------------------------------------------------------
.image-figure-right {
  @include grid-span(12, 1, 8);
  margin-left: -(grid-span(2, 1, 8));
  margin-right: 0;

  @include breakpoint($content-medium) {
    @include grid-span(8, 1, 8);
  }

  .figure-content {
    @include grid-span(10, 3);

    @include breakpoint($content-medium) {
      @include grid-span(12);
    }
  }

  img {
    @include grid-span(12);
  }

  figcaption {
    @include grid-span(2, 1);
    text-align: right;

    @include breakpoint($content-medium) {
      @include grid-span(12);
      text-align: center;
    }
  }
}


// Figures centered
// ----------------------------------------------------------------------------
.image-figure-center {
  @include grid-span(10, 1, 8);
  margin-left: -(grid-span(1, 1, 8));
  margin-right: 0;

  @include breakpoint($content-medium) {
    @include grid-span(12);
  }
}

// Figures with long captions
// ----------------------------------------------------------------------------
.image-figure-longcaption {
  figcaption {
    text-align: left;
  }
}


// Figures with border
// ----------------------------------------------------------------------------
.image-figure-border img {
  border: $image-border-size solid $image-border-color;
}


// Figures without border
// ----------------------------------------------------------------------------
.image-figure-noborder img {
  border: 0;
}


// Figures with a shadow
// ----------------------------------------------------------------------------
.image-figure-shadow img {
  box-shadow: 0 1px 3px rgba($black, 0.5);
}

// Code examples
// ----------------------------------------------------------------------------
.code-figure {
  margin-bottom: $default-margin-bottom;

  .highlight {
    margin-bottom: 5px;
  }
}
