// ============================================================================
// Footnote
// ============================================================================

// Create a footnote[^1]

// Use a footnote
// [^1]: Description

sup a.footnote {
  @extend %sans-font;
  @include link-colors($dark-grey, $dark-grey, $dark-grey, $dark-grey, $dark-grey);
  background: transparent;
  cursor: help;
  font-size: modular-scale(0);
  line-height: 1.5;
  text-decoration: none;

  &:hover {
    background: transparent;
  }
}

.footnotes {
  @extend %sans-font;
  clear: both;
  color: lighten($dark-grey, 40);
  font-size: modular-scale(0);
  line-height: 1.5;

  a.reversefootnote {
    @include link-colors($dark-grey, $dark-grey, $dark-grey, $dark-grey, $dark-grey);
    background: transparent;
    border: 0;
    margin-left: 0.25em;
    text-decoration: none;

    &:hover {
      background: transparent;
    }
  }
}
