// ============================================================================
// Hint
// ============================================================================

.aside-hint {
  @extend %sans-font;
  background: rgba($white, 0.5);
  border: 2px solid $white;
  border-radius: 5px;
  color: $logo-color;
  font-size: modular-scale(1);
  margin-bottom: $default-margin-bottom;
  padding: 10px 15px;

  p:last-child {
    margin-bottom: 0;
  }
}
