// ============================================================================
// Inline Links
// ============================================================================

.inline-links {
  h3,
  ul,
  li {
    display: inline;
  }

  ul {
    margin-left: 0;
  }

  h3 {
    font-size: 1em;
    margin-right: 0.25em;

    &:after {
      content: ":";
    }
  }

  li {
    margin-right: 0.5em;
  }
}
