// ============================================================================
// Scrollbars
// ============================================================================

::-webkit-scrollbar {
  background: #fafafa;
  height: 5px;
  width: 5px;
}

// Track
::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 5px;

  &:vertical {
    background: $header-border-top-color;
  }
}

// Handle
::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 5px;

  &:vertical {
    background: $scroll-handle-color;
  }

  &:hover {
    background: #b8b8b8;

    &:vertical {
      background: $scroll-handle-hover-color;
    }
  }
}
