// ============================================================================
// Tags
// ============================================================================

.tags {
  display: inline;
  margin-bottom: 0;

  .archive-posts & {
    @include grid-span(10, 2);
    clear: both;
    display: block;
    margin-bottom: $default-margin-bottom * 2;
  }

  li {
    display: inline-block;
  }

  .tag {
    @extend %sans-font;
    background: $dark-grey;
    border: 0;
    border-radius: 5px;
    color: $white;
    font-size: $font-scale-small;
    letter-spacing: 0.1em;
    padding: 3px 5px 2px;
    text-shadow: none;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover {
      background: $link-color;
      color: $white;
    }
  }
}
