// ============================================================================
// Verse
// ============================================================================

.verse {
  margin: 0;
  padding: 0;
  text-align: center;
}

.verse pre {
  display: inline-block;
  font-family: inherit;
  margin-bottom: $default-margin-bottom;
  text-align: left;
  zoom: 1;

  .verse-list & {
    margin-bottom: 0;

    p {
      text-align: center;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint($content-medium) {
    overflow-x: visible;
  }

  @include breakpoint($content-small) {
    overflow-x: auto;
  }
}
