<div class="introvert section custom-underline">
  <div class="wrap">

    <div class="grid">
      <h2>{{ site.data.settings.homepage.introvert.headline }}</h2>
      {{ site.data.settings.homepage.introvert.text | markdownify }}
    </div>

    <div class="grid-quote">
      <blockquote>
        <p class="japanese">
          {{ site.data.settings.homepage.introvert.quote.japanese }}
        </p>
      </blockquote>
      <p>{{ site.data.settings.homepage.introvert.quote.translation }}</p>
    </div>

    <div class="grid-links inline-links">
      {% for topic in site.data.introvert %}
        <h3>{{ topic.name }}</h3>
        <ul>
          {% for item in topic.items %}
            <li><a href="{{ item.url }}">{{ item.text }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>

  </div>
</div>
