<div class="martial-arts section custom-underline">
  <div class="wrap">
    <h2>{{ site.data.settings.homepage.martialarts.headline }}</h2>
    <div class="content">
      {{ site.data.settings.homepage.martialarts.text | markdownify | liquify }}
    </div>

    <div class="grid-links inline-links">
      {% for topic in site.data.martialarts %}
        <h3>{{ topic.name }}</h3>
        <ul>
          {% for school in topic.schools %}
            <li>{{ school }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>


