<section class="stripe stripe-martial-arts">
  <div class="wrap">
    <h2 class="stripe-martial-arts-headline">
      {{ site.data.settings.homepage.martialarts.headline }}
    </h2>
    <div class="stripe-content">
      {{ site.data.settings.homepage.martialarts.text | markdownify | liquify }}
    </div>

    <div class="inline-container">
      {% for topic in site.data.martialarts %}
        <h3 class="inline-container-headline">{{ topic.name }}</h3>
        <ul class="inline-container-list">
          {% for school in topic.schools %}
            <li class="inline-container-item">{{ school }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</section>
