<section class="stripe stripe-movies">
  <div class="wrap">
    <h2 class="stripe-movies-headline">
      {{ site.data.settings.homepage.movies.headline }}
    </h2>
    <div class="stripe-content">
      {{ site.data.settings.homepage.movies.text | markdownify }}
    </div>

    <div class="inline-container">
      {% for topic in site.data.movies %}
        <h3 class="inline-container-headline">{{ topic.name }}</h3>
        <ul class="inline-container-list">
          {% for movie in topic.items %}
            <li class="inline-container-item">
              <a class="inline-container-link" href="http://www.imdb.com/title/{{ movie.id }}/">
                {{ movie.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</section>
