<section class="stripe stripe-recommendations inline-container">
  <div class="wrap">
    <h2>{{ site.data.settings.homepage.recommendations.headline }}</h2>

    {% for topic in site.data.recommendations %}
      <h3 class="inline-container-headline">{{ topic.category }}</h3>
      <ul class="inline-container-list">
        {% for recommendation in topic.items %}
          <li class="inline-container-item">
            <a class="inline-container-link" href="{{ recommendation.url }}">
              {{ recommendation.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</section>
