<div class="work section custom-underline">
  <div class="wrap">
    <h2>{{ site.data.settings.homepage.work.headline }}</h2>
    <div class="content">
      {{ site.data.settings.homepage.work.text | markdownify }}
    </div>

    <div class="grid-links inline-links">
      {% for area in site.data.work %}
        <h3>{{ area.name }}</h3>
        <ul>
          {% for skill in area.skills %}
            <li>{{ skill }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>

  </div>
</div>
