<section class="stripe stripe-work">
  <div class="wrap">
    <h2>{{ site.data.settings.homepage.work.headline }}</h2>
    <div class="stripe-content">
      {{ site.data.settings.homepage.work.text | markdownify }}
    </div>

    <div class="inline-container">
      {% for area in site.data.work %}
        <h3 class="inline-container-headline">{{ area.name }}</h3>
        <ul class="inline-container-list">
          {% for skill in area.skills %}
            <li class="inline-container-item">{{ skill }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</section>
