/* ==================================== */
/*  Theme: Zitrone                      */
/* ==================================== */

$highlight-color:           #d87c03;

/* Header */
$header-background:         #2e2b26;
$header-border-top-color:   #100d09;
$header-headline:           $white;
$header-subheadline:        $black;

/* Logo */
$logo-color:                #fb9c04;

/* Navigation */
$nav-link-color-hover:      $highlight-color;

/* Links */
$link-color:                $highlight-color;
$link-hover-color:          $dark-grey;
$link-active-color:         $dark-grey;
$link-visited-color:        $highlight-color;
$link-focus-color:          $dark-grey;

$link-border-color:         rgba($dark-grey, 0.2);
$link-hover-border-color:   $highlight-color;

/* Scrollbars */
$scroll-handle-color:       $highlight-color;
$scroll-handle-hover-color: $white;

/* ::selection */
$selection-background:      $highlight-color;
$selection-color:           $white;

/* Paths */
$header-background-url:      $header-path/$header-zitrone.jpg;
$header-background-url-m:    $header-path/$header-zitrone-m.jpg;
$header-background-url-s:    $header-path/$header-zitrone-s.jpg;
$header-background-position: center left;
