// ============================================================================
// Footer
// ============================================================================

.footer {
  @extend %sans-font;
  background-color: $footer-meta-background;
  color: rgba($white, 0.25);
  padding-top: 1.5em;

  @include breakpoint(700px) {
    padding-top: 1em;
  }

  @include breakpoint(500px) {
    padding-top: 0.5em;
  }

  .wrap {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  small {
    background-color: $body-background;
    color: rgba($white, 0.3);
    display: block;
    margin-top: $default-margin-top;
    padding: 0.5em 0;

    @include breakpoint($content-small) {
      margin-top: 0.5em;
    }

    a {
      @include link-colors($footer-link-color, $footer-link-color-active, $footer-link-color-active, $footer-link-color, $footer-link-color-active);
      border: 0;
      text-decoration: none;
    }

    ul,
    .copyright {
      font-size: $base-font-size;
      line-height: 1.5;
    }

    .copyright b {
      @extend %mono-font;
      font-size: $base-font-size * 1.25;
      font-weight: 200;
      position: relative;
      top: 2px;
    }

    ul {
      float: right;
      list-style: none;
      margin: 5px 0 0 0.5em;
      overflow: hidden;

      @include breakpoint($footer-two-lines) {
        float: none;
        margin: 0;
        margin-bottom: 10px;
      }
    }

    li {
      float: left;
      padding-right: 0.5em;
      white-space: nowrap;

      &:after {
        color: rgba($white, 0.3);
        content: '·';
        padding-left: 0.5em;
      }

      &:last-child {
        padding-right: 0;

        &:after {
          content: none;
        }
      }
    }
  }
}

.footer {
  // About me
  .about {
    @include grid-span(8);

    @include breakpoint($meta-footer-two-lines) {
      @include grid-span(12);
    }

    h3 {
      color: rgba($white, 0.85);

      @include breakpoint($meta-footer-image-new-line) {
        text-align: center;
      }
    }

    p {
      background-image: url("/assets/images/css/footer/stefan-imhoff.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      padding-left: 100px;

      @include breakpoint($hi-resolution) {
        background-image: url("/assets/images/css/footer/stefan-imhoff@2X.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 84px 84px;
      }

      @include breakpoint($meta-footer-image-new-line) {
        background-image: url("/assets/images/css/footer/stefan-imhoff@2X.png");
        background-position: center 0;
        background-repeat: no-repeat;
        background-size: 84px 84px;
        padding-left: 0;
        padding-top: 100px;
      }

      @include breakpoint($content-small) {
        margin-bottom: 0.5em;
      }
    }

    em {
      color: rgba($white, 0.8);
      font-style: normal;
    }

    a:hover {
      color: rgba($white, 0.8);
    }
  }

  // Social Network Icons
  .social-networks {
    @include grid-span(4, 9);

    @include breakpoint($meta-footer-two-lines) {
      @include grid-span(12);
    }

    h3 {
      color: rgba($white, 0.85);
      margin-left: 20px;

      @include breakpoint($meta-footer-two-lines) {
        margin-left: 0;
      }

      @include breakpoint($meta-footer-image-new-line) {
        text-align: center;
      }
    }

    ul {
      font-size: 25px;
      list-style: none;
      text-align: left;

      @include breakpoint($meta-footer-two-lines) {
        margin-bottom: 0;
      }
    }

    li {
      display: inline-block;
      font-size: 30px;
      margin: 0 0 15px 15px;

      @include breakpoint($meta-footer-two-lines) {
        margin: 0 15px 15px 0;
      }
    }

    a {
      @include link-colors($social-icon-color, $social-icon-hover, $social-icon-color, $social-icon-color, $social-icon-color);
      border: 0;
      text-decoration: none;
      text-shadow: $black -1px -1px 0;

      &:hover {
        border: 0;
      }
    }

    a span {
      @extend %visually-hidden;
    }
  }
}
