// ============================================================================
// Grids
// ============================================================================

// Grid settings
// ----------------------------------------------------------------------------

$breakpoint-to-ems: true;
$breakpoint-default-feature: max-width;

// Base Grid
@include add-grid(12);

// Breakpoint Gutters
@include add-gutter(1/4);

// Grids
// ----------------------------------------------------------------------------

.outer-container {
  min-height: 100%;
}

.wrap {
  @include clearfix;
  margin: 0 auto;
  max-width: 920px;

  @include breakpoint(950px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.article {
  @include grid-span(8, 3);
  margin-bottom: $default-margin-bottom * 2;
  margin-top: $default-margin-top;

  @include breakpoint(700px) {
    margin-bottom: $default-margin-bottom;
  }

  @include breakpoint($content-medium) {
    @include grid-span(12);
  }

  @include breakpoint($content-small) {
    margin-bottom: $default-margin-bottom;
    margin-top: 0.5em;
  }
}

.archive .archive-posts {
  margin-bottom: $default-margin-bottom * 2;
  margin-top: $default-margin-top;
}

header {
  clear: both;
}

footer {
  clear: both;
}
