// ============================================================================
// Header
// ============================================================================

#top {
  background-color: $header-background;
  background-image: url($header-background-url);
  background-position: $header-background-position;
  background-size: cover;
  border-top: 3px solid $header-border-top-color;
  padding: 40px 0 60px;
  z-index: 100;
  // background-attachment: fixed;
  // * @FIXME: A bug in Google Chrome/Opera
  // * prevents using `translate3d` in combination
  // * with `background-attachment: fixed` at the moment

  @include breakpoint(600px) {
    background-image: url($header-background-url-m);
  }

  @include breakpoint(400px) {
    background-image: url($header-background-url-s);
  }

  .nav-btn {
    @include link-colors($white, $nav-link-color-hover, $white, $white, $white);
    border: 0;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
    position: absolute;
    right: 1em;
    text-decoration: none;
    text-shadow: 0 1px 1px $black;
    text-transform: uppercase;
    top: 1em;
    z-index: 100;

    span {
      @include breakpoint($content-medium) {
        display: none;
      }
    }
  }

  // Breakpoints header image
  .home & {
    padding: 40px 0 160px;

    @include breakpoint(880px) {
      padding-bottom: 80px;
    }

    @include breakpoint(700px) {
      padding-bottom: 40px;
    }

    @include breakpoint(500px) {
      padding-bottom: 10px;
    }

    @include breakpoint(480px) {
      padding-bottom: 20px;
    }

    @include breakpoint(430px) {
      padding-bottom: 60px;
    }
  }

  .logo {
    @include grid-span(2, 1);

    @include breakpoint(480px) {
      @include grid-span(3, 1);
    }

    @include breakpoint($header-centered) {
      clear: both;
      float: none;
      margin: 0;
      width: 100%;
    }

    .icon-logo {
      border: 0;
      color: $logo-color;
      display: block;
      font-size: 70px;
      padding: 0 0 5px 10px;
      text-align: right;
      text-decoration: none;
      text-shadow: 0 1px 2px $black;

      @include breakpoint($header-centered) {
        font-size: 60px;
        height: 80px;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        width: 80px;
      }

      .home & {
        font-size: 100px;

        @include breakpoint(700px) {
          font-size: 60px;
          margin-top: 10px;
        }
      }
    }
  }

  .site-info {
    @include enable-ligatures;
    @include grid-span(8, 3);
    color: $header-headline;
    font-size: $font-scale-h1;
    line-height: 1;
    padding-top: 15px;
    text-shadow: 0 0 6px $black;

    @include breakpoint(480px) {
      @include grid-span(7, 4);
    }

    @include breakpoint($header-centered) {
      font-size: $font-scale-h2;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
    }

    a {
      border: 0;
      color: $header-headline;
      text-decoration: none;
      vertical-align: top;

      @include breakpoint(480px) {
        font-size: 50px;
      }

      @include breakpoint(380px) {
        font-size: 40px;
      }
    }
  }

  .home & .site-info {
    @include breakpoint(480px) {
      @include grid-span(7, 4);
    }

    @include breakpoint($header-centered) {
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
    }

    h1 {
      margin-bottom: 0;

      @include breakpoint(800px) {
        font-size: 60px;
        margin-top: 5px;
      }

      @include breakpoint(620px) {
        font-size: 40px;
      }

      @include breakpoint(480px) {
        font-size: 25px;
      }

      @include breakpoint($header-centered) {
        font-size: 35px;
      }
    }

    h2 {
      color: $header-subheadline;
      font-size: $font-scale-h3;
      line-height: 1.2;
      text-shadow: 0 0 5px $white, 0 0 5px $white, 0 0 5px $white;

      @include breakpoint(800px) {
        font-size: 20px;
      }

      @include breakpoint(620px) {
        font-size: 15px;
      }
    }
  }
}
