// ============================================================================
// Navigation
// ============================================================================

// Container for Off canvas navigation
// ----------------------------------------------------------------------------
.outer-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.container {
  backface-visibility: hidden;
  position: relative;
  right: 0;
  transform: translate3d(0, 0, 0);
  transition: $animation-off-screen-menu;
  width: 100%;
}

// Navigation (Basis Version without JavaScript)
// ----------------------------------------------------------------------------
#nav {
  backface-visibility: hidden;
  background-color: $nav-background;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 230px;

  .nav-close-btn {
    @extend %sans-font;
    @include link-colors($white, $nav-link-color-hover, $white, $white, $white);
    border: 0;
    display: block;
    font-size: 12px;
    line-height: 2.25;
    padding: 5px 15px;
    position: absolute;
    right: 1em;
    text-shadow: 0 1px 1px $black;
    top: 15px;

    span {
      @extend %visually-hidden;
    }
  }
}

// Navigation is open
.navigation-is-open {
  .container {
    transform: translate3d(-230px, 0, 0);
  }
}

// Styling of Navigation (Base navigation)
// ----------------------------------------------------------------------------
%nav {
  @extend %sans-font;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.1em;
  list-style: none;
  margin: 22px 40px;

  li {
    margin-bottom: 0.3em;
  }

  a {
    @include link-colors($nav-link-color, $nav-link-color-hover, $nav-link-color-active, $nav-link-color, $nav-link-color-active);
    border: 0;
    line-height: 1;
    text-decoration: none;
    text-shadow: 0 0 5px $black;
    transition: $animation-navigation-link-hover;
  }
}

.nav {
  @extend %nav;
}

// Styling of Navigation (Main menu)
// ----------------------------------------------------------------------------
.nav--main {
  @extend %nav;
  font-weight: 400;
  text-transform: uppercase;
}

// Styling for active navigation
// ----------------------------------------------------------------------------
// Set with JavaScript
#nav .nav-is-active a {
  color: $nav-link-color-active;
}

// Styling for hover navigation
// ----------------------------------------------------------------------------
.nav-item-external a:hover {
  &:after {
    @extend %icon-font;
    content: " #{$iconfont-external}";
    font-size: 14px;
    line-height: 1;
    position: relative;
    top: -1px;
  }
}
