{% unless page.comments == false %}
<div class="comments">
  <h2>
    {% if page.language == "en" %}
      Comments
    {% else %}
      Kommentare
    {% endif %}
  </h2>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'domain_disqus';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endunless %}
