/* Color
 ********/

$black:      #000000;
$white:      #ffffff;
$dark-grey:  #333333;
$light-grey: #dddddd;

/* Body */
$body-background: #0a0a0a;

/* Header */
$header-background:       $dark-grey;  /* THEME */
$header-border-top-color: $black;      /* THEME */
$header-headline:         $white;      /* THEME */
$header-subheadline:      $light-grey; /* THEME */

/* Logo */
$logo-color: $white; /* THEME */

/* Content */
$content-background: #eeeeee;

/* Footer */
$footer-link-color:        rgba($white, 0.5);
$footer-link-color-active: $white;
$footer-meta-background:   #292a2c;
$footer-small-background:  #0a0a0a;

/* Navigation */
$nav-link-color:        rgba($white, 0.5);
$nav-link-color-hover:  $white; /* THEME */
$nav-link-color-active: $white;

/* Links */
$link-color:              $dark-grey; /* THEME */
$link-hover-color:        $dark-grey; /* THEME */
$link-active-color:       $dark-grey; /* THEME */
$link-visited-color:      $dark-grey; /* THEME */
$link-focus-color:        $dark-grey; /* THEME */

$link-border-color:       rgba($dark-grey, 0.2); /* THEME */
$link-hover-border-color: $dark-grey;            /* THEME */

/* Social Icon Links */
$social-icon-color: rgba($white, 0.5);
$social-icon-hover: rgba($white, 0.7);

/* Keyboard (kbd) */
$keyboard-border:     #cccccc;
$keyboard-background: #f7f7f7;

/* Samples (samp) */
$sample-color:      $white;
$sample-background: $dark-grey;

/* Definitions (dfn) */
$definition-color: #999999;

/* Mark */
$mark-background: #e6f028;

/* Tables */
$table-border-color:     #dddddd;
$table-zebra-background: rgba(#ffffff, 0.8);

/* Images */
$image-border-color: #cccccc;

/* Selection */
$selection-background: $dark-grey; /* THEME */
$selection-color:      $white;     /* THEME */

/* Download */
$download-icon-fill-color: #ababab;

/* Patterns */
$pattern-wavegrid-background:      #eeeeee;
$pattern-type-background:          #1c1c1c;
$pattern-px-background:            #313131;
$pattern-nami-background:          #090909;
$pattern-geometry-background:      #f9f9f9;
$pattern-pw-maze-black-background: #0c0c0c;

/* Print */
$print-border-color:   #bbbbbb;
$print-headline-color: #808080;

/* Stripe Colors */
$stripe-martial-arts-color: #be0202;
$stripe-movies-color:       #e8c53d;
$stripe-books-color:        #616161;
