/* Dimension
 ************/

$image-border-size:      3px;
$default-spacing:        1.5em;
$default-spacing-bottom: 1.5em;
$default-spacing-top:    1.5em;
$default-spacing-right:  1.5em;
$default-spacing-left:   1.5em;
