/* ==================================== */
/*  Path                                */
/* ==================================== */

$header-path:                /assets/images/css/header;
$header-background-url:      "";          /* THEME */
$header-background-url-m:    "";          /* THEME */
$header-background-url-s:    "";          /* THEME */
$header-background-position: left center; /* THEME */
