// ============================================================================
// Homepage
// ============================================================================

.home {
  .section {
    @extend %sans-font;
    margin-bottom: 0;
    padding: 1.5em 0;

    @include breakpoint(480px) {
      padding: 1em 0;
    }

    p {
      font-size: 1.1em;
      font-weight: 400;
      line-height: 1.5;

      @include breakpoint($hi-resolution) {
        font-weight: 200;
      }
    }
  }

  .content {
    column-count: 2;
    column-gap: 30px;

    @include breakpoint($homepage-sections-fullsize) {
      column-count: 1;
    }
  }

  .content + .inline-links {
    margin-top: $default-margin-top;
  }

  // Blog Article
  .blog {
    @include breakpoint($homepage-sections-fullsize) {
      h3 {
        line-height: 1.2;
      }
    }

    .grid-latest {
      @include grid-span(7, 1, 12);

      @include breakpoint($homepage-sections-fullsize) {
        @include grid-span(12);
      }
    }

    .grid-recently {
      @include grid-span(4, 9, 12);

      @include breakpoint($homepage-sections-fullsize) {
        @include grid-span(12);

        ul {
          list-style: none;
          margin-bottom: 0;
        }
      }
    }
  }

  // Work
  .work {
    @extend %pattern-geometry;
    border-top: 1px solid rgba($dark-grey, 0.2);

    .inline-links h3 {
      color: $link-color;
    }
  }

  // Introvert
  .introvert {
    @extend %pattern-wavegrid;

    .japanese {
      @extend %japanese-font;
      font-size: 1.5em;
      font-style: normal;
      margin-bottom: 0;
    }

    .grid {
      @include grid-span(6, 1, 12);

      @include breakpoint($homepage-sections-fullsize) {
        @include grid-span(12);
      }
    }

    .grid-quote {
      @include grid-span(6, 7, 12);
      color: rgba($dark-grey, 0.8);
      padding: 6em 3em 2em;
      text-align: left;

      @include breakpoint($homepage-sections-fullsize) {
        @include grid-span(12);
        margin-bottom: $default-margin-bottom;
        padding: 0;
        text-align: left;
      }

      blockquote {
        margin: 0;
      }

      > p {
        font-style: normal;
        margin-bottom: 0;
      }
    }

    .grid-links {
      clear: both;
    }
  }

  // Martial Arts
  .martial-arts {
    $martial-arts-color: #be0202;

    @extend %pattern-nami;
    color: $white;

    .inline-links h3 {
      color: $martial-arts-color;
    }

    a {
      @include link-colors($martial-arts-color, $white, $martial-arts-color, $martial-arts-color, $martial-arts-color);

      &:hover {
        border-color: $martial-arts-color;
      }
    }

    h2 {
      color: $martial-arts-color;
    }
  }

  // Books
  .book-lover {
    $book-lover-color: #616161;

    @extend %pattern-type;
    border-top: 1px solid rgba($dark-grey, 0.2);
    color: $white;

    h2 {
      color: $book-lover-color;
    }

    a {
      @include link-colors($book-lover-color, $white, $book-lover-color, $book-lover-color, $book-lover-color);

      &:hover {
        border-color: $book-lover-color;
      }
    }
  }

  // Movies
  .movie-lover {
    $movie-lover-color: #e8c53d;

    @extend %pattern-px;
    border-top: 1px solid rgba($dark-grey, 0.2);
    color: $white;

    h2 {
      color: $movie-lover-color;
    }

    a {
      @include link-colors($movie-lover-color, $white, $movie-lover-color, $movie-lover-color, $movie-lover-color);

      &:hover {
        border-color: $movie-lover-color;
      }
    }
  }


  // Recommendations
  .recommendations {
    @extend %pattern-wavegrid;
  }
}
