/* Error Page
 *************/

.error .main {
  lost-utility: clearfix;
  position: relative;
}

.error-image {
  border: 0;
  bottom: 0;
  left: 0;
  lost-column: 5/12;
  position: absolute;

  @media screen and (width <= $error-image-new-line) {
    lost-column: 6/12;
    lost-offset: -3/12;
  }
}

.error-body {
  lost-column: 6/12;
  lost-move: 5/12;
  margin-top: calc($default-spacing-top * 2);
  min-height: 415px;
  position: relative;

  @media screen and (width <= $error-image-new-line) {
    lost-column: 12/12;
    lost-move: 0;
  }
}
