/* Pagination
 *************/

.pagination {
  overflow: hidden;
}

.pagination-link {
  @mixin link-colors $white, $white, $white, $white, $white;
  background: $dark-grey;
  border-radius: 5px;
  border-width: 0;
  color: $white;
  display: inline-block;
  font-size: $font-scale-small;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  max-width: 49%;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover {
    background: $link-color;
  }
}

.pagination-left {
  float: left;
  padding-left: 20px;

  .pagination-icon {
    left: 3px;
  }
}

.pagination-right {
  float: right;
  padding-right: 20px;

  .pagination-icon {
    right: 3px;
  }
}

.pagination-icon {
  fill: $white;
  height: 21px;
  position: absolute;
  width: 15px;
}
