<style>
  {% include critical/critical.css %}
</style>

<script>
  {% include critical/loadCSS.js %}

  loadCSS("{{ root_url }}/assets/css/application.css");
  {% if page.homepage %}loadCSS("{{ root_url }}/assets/css/homepage.css");{% endif %}
  {% if page.custom_css %}loadCSS("{{ root_url }}/assets/css/{{ page.custom_css }}.css");{% endif %}
</script>

<noscript>
  <link rel="stylesheet" href="{{ root_url }}/assets/css/application.css">
  {% if page.homepage %}<link rel="stylesheet" href="{{ root_url }}/assets/css/homepage.css">{% endif %}
  {% if page.custom_css %}<link rel="stylesheet" href="{{ root_url }}/assets/css/{{ page.custom_css }}.css">{% endif %}
</noscript>
