<footer class="footer" role="contentinfo">
  <div class="wrap">
    <div class="about custom-underline">
      <h3>{{ site.data.settings.about.headline }}</h3>
      {{ site.data.settings.about.text | markdownify }}
    </div>
    <div class="social-networks">
      <h3>{{ site.data.settings.socialnetworks.headline }}</h3>
      <ul>
        {% for link in site.data.social-links %}
          <li><a href="{{ link.url | replace: '!FEEDBURNER_URL!', site.data.settings.social.feedburner_url }}" class="{{ link.class }}"><span>{{ link.name }}</span></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <small>
    <div class="wrap">
      <ul>
        <li><a href="/impressum/">Impressum</a></li>
        <li><a href="/styleguide/">Styleguide</a></li>
        <li><a href="#top" id="top-link">Scroll up</a></li>
      </ul>
      <div class="copyright"><b>©</b> <span class="nobr">2006-{{ site.time | date: "%Y" }}</span>, <span class="nobr">Stefan Imhoff</span>. The content of this page is published under a <span class="nobr"><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><i class="icon-cc"></i> Creative Commons</a></span> Licence.</div>
    </div>
  </small>
</footer>
