<header id="top" class="header attribution-main" role="banner">

  {% include attribution_header.html %}

  <div class="wrap">

    <div class="header-logo">

      {% if page.homepage %}
        <img class="header-logo-image" src="{{ site.root }}assets/images/svg/logo.svg" alt="">
      {% else %}
        <a href="{{ site.root }}" class="header-logo-link">
          <img class="header-logo-image" src="{{ site.root }}assets/images/svg/logo.svg" alt="">
        </a>
      {% endif %}
    </div>

    <div class="header-info">
      {% if page.homepage %}
        <h1 class="header-info-title">{{ site.data.settings.title }}</h1>
        <h2 class="header-info-tagline">{{ site.data.settings.seo.description }}</h2>
      {% else %}
        <a class="header-info-title-link" href="{{ site.root }}">
          <div class="header-info-title">{{ site.data.settings.title }}</div>
          <div class="header-info-tagline">{{ site.data.settings.seo.description }}</div>
        </a>
      {% endif %}
    </div>

  </div>

</header>
