---
layout: archive
title: Articles 2009
permalink: /2009/
body_class: "archive"
description: "An overview of all articles available on this website with title and date of publication of 2009."
robots: "noindex,follow"
sitemap:
  exclude: true
---

<h1 class="archive-headline">
  {% if page.title or post.title %}
    {{ page.title }}
  {% else %}
    {{ site.data.settings.title }}
  {% endif %}
</h1>

{% assign sorted = site.posts | sort:"date" | reverse %}
{% for post in sorted %}
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if year == "2009" %}
  <article class="archive-post">
    {% include archive_post.html %}
  </article>
  {% endif %}
{% endfor %}
