// ============================================================================
// Placeholders
// ============================================================================

// Font
%serif-font-wf {
  font-family: $base-font-serif-wf;
}

%serif-font {
  font-family: $base-font-serif;
}

%sans-font-wf {
  font-family: $base-font-sans-wf;
}

%sans-font {
  font-family: $base-font-sans;
}

%mono-font {
  font-family: $base-font-mono;
}

%japanese-font {
  font-family: $base-font-japanese !important;
}

%icon-font {
  font-family: "iconfont";
}

// Background patterns
// ---------------------------------

// 204x204, 12 KB (Meta Footer)
%pattern-classy-fabric {
  background-image: url("/assets/images/css/patterns/classy_fabric_@2X.png");
  background-size: 102px 102px;
}

// 100x100, 1 KB (Footer)
%pattern-dark-stripes {
  background-image: url("/assets/images/css/patterns/dark_stripes_@2X.png");
  background-size: 50px 50px;
}

// 602x1242, 4 KB (Content)
%pattern-light-grey {
  background-image: url('/assets/images/css/patterns/light_grey_@2X.png');
  background-size: 301px 621px;
}

// 92x46, < 1 KB (Off-Canvas Navigation)
%pattern-pw-maze-black {
  background-color: $nav-background;
  background-image: url("/assets/images/css/patterns/pw_maze_black_@2X.png");
  background-size: 46px 23px;
}

// 824x824, 4 KB (Homepage: Work)
%pattern-geometry {
  background-color: #f9f9f9;
  background-image: url("/assets/images/css/patterns/geometry_@2X.png");
  background-size: 412px 412px;
}

// 32x32, < 1 KB (Homepage: Martial Arts)
%pattern-nami {
  background-color: #090909;
  background-image: url("/assets/images/css/patterns/nami_@2X.png");
  background-size: 16px 16px;
}

// 200x200, < 1 KB (Homepage: Movies)
%pattern-px {
  background-color: #313131;
  background-image: url("/assets/images/css/patterns/px_@2X.png");
  background-size: 100px 100px;
}

// 400x400, < 15 KB (Homepage: Books)
%pattern-type {
  background-color: #1c1c1c;
  background-image: url("/assets/images/css/patterns/type_@2X.png");
  background-size: 200px 200px;
}

// 200x200, 2 KB (Homepage: Introvert, Recommendations)
%pattern-wavegrid {
  background-color: #eeeeee;
  background-image: url("/assets/images/css/patterns/wavegrid_@2X.png");
  background-size: 100px 100px;
}

%pattern-mark-center {
  background-image: url("/assets/images/css/mark-center.png");
  background-size: 25px 21px;
}

%pattern-mark-left {
  background-image: url("/assets/images/css/mark-left.png");
}

%pattern-mark-right {
  background-image: url("/assets/images/css/mark-right.png");
}

// Image Replacement (Kellum Method)
// ---------------------------------
// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
%text-hidden {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.text-hidden {
  @extend %text-hidden;
}

// Hide text visually
// ---------------------------------
%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
