/* Headline
 ***********/

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-feature-settings: "liga", "dlig";
  hyphens: manual;
  line-height: 1;
  margin-bottom: 0.5em;
}

h1 {
  font-range: 650px 920px;
  font-size: responsive 40px 68px;

  .article & {
    text-align: center;
  }
}

h2 {
  font-range: 650px 920px;
  font-size: responsive 30px 42px;
}

h3,
h4,
h5,
h6 {
  font-size: $font-scale-h4;
}
