/* State
 ********/

/* 1. State styles can apply to layout and/or module styles; and */
/* 2. State styles indicate a JavaScript dependency. */

/* Class provides by FitVid */
.fluid-width-video-wrapper {
  margin-bottom: $default-spacing-bottom;
}

/* Global visibility: hidden */
.is-invisible {
  visibility: hidden;
}

/* Global display: none */
.is-hidden {
  display: none;
}
